@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
}

html{
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

.btn:hover,
a:hover {
    transform: scale(1.01);
    transition: ease-in-out 0.2s;
}

.custom-navbar {
    background: transparent;
    /* background: #070b20; */
    color: #586088;
    /* padding: 2rem 5%; */
    padding: 1rem 5%;
    position: fixed;
    width: 100vw;
    z-index: 99;
    transition: 0.3s ease-in-out;

}

.nav-active {
    background: #070b20;
    box-shadow: 5px -1px 12px -5px grey;
    padding: 1rem 5%;
}

.custom-navbar .nav-link {
    color: #586088;

}

.custom-navbar .navbar-brand img {
    width: 8rem;
    height: auto;
    object-fit: contain;
}

.custom-navbar .navbar-nav .nav-link.active {
    color: #34FFFF;
}

.custom-navbar .navbar-nav .nav-link.active::first-letter {
    text-decoration: underline;
}

.custom-navbar .navbar-text button {
    border: none;
    background: #09001D;
    border-radius: 15px;
    color: #5BEFE8;
    display: flex;
    align-items: end;
    padding: 0.5rem 1rem;
    border: 1px solid #685CFF;

}

.custom-navbar .navbar-text button img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

footer {
    background: #040614;
    display: flex;
    flex-direction: column;
    color: #5A6189;
    padding: 0 5%
}

footer p {
    margin: 0;
    font-weight: 500;
    font-size: 1.3rem;

}


footer>div>p:nth-of-type(2)>a {
    text-decoration: none;
    color: #8D95FC;
}

footer .top {
    text-align: center;
    padding: 3rem 0;
    border-bottom: 3px solid #111529;

}

footer .bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
    font-weight: 500;
    font-size: 1.3rem;
    color: #292D43;
}

footer .bottom a {
    margin: 0 1rem;
    width: 2rem;
    display: inline-block;
}

footer .bottom a img {
    width: 100%;

}

@media only screen and (max-width: 768px) {

    /* .navbar-toggler {
        background-color: #ececec;
    } */
    .navbar-toggler {
        border-color: rgb(156, 240, 255);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(156, 240, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    footer p {
        font-size: 1.1rem;
    }

    footer .bottom {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 600px) {
    .custom-navbar {
        background: #070b20;
        padding: 1rem 5%;
    }

    footer p {

        font-size: 1rem;
    }

    footer .bottom {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    footer .bottom>div:nth-of-type(2) {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}